/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

  h1, h2 {
    font-family: raleway;
    color: #f88;
  }
  
  p {
    font-family: Arial, "MS Trebuchet", sans-serif;
  }

	body {
		background: url(../lights.jpg);
		background-size: 100%;
	}
	
	div.row div {
	  color: #fff;
	  background-color: rgba(0,0,0,0.7);
	  margin-top: 1em;
  }
  
  .explanation {
    margin-top: 1em;
	  background-color: rgba(0,0,0,0.7);
    margin-bottom: 3em;
  }
  
  div.row.explanation div {
    background-color: transparent;
    margin-top: 0;
  }

  a {
    color: #ccc;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  p {
    margin-bottom: 0.5em;
  }
  
  p, h1, h2{
    padding-left: 8px;
    padding-right: 8px;
  }

  
  h1, h2 {
    padding-top: 4px;
    line-height: 1em;
  }
  
  .contact a {
    background-color: #fff;
    color: #000;
    padding: 2px;
  }
  
  .contact a:hover {
    background-color: inherit;
    color: inherit;
  }
  
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		background: none;
		background-color: #4c4c4c;
	}

	div.row div {
	  color: #fff;
	  background-color: transparent;
  }
  
  .explanation {
	  background-color: transparent;
  }
  
}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}