/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

  h1, h2 {
    font-family: raleway;
  }

	body {
		background: url(../lights_original.jpg);
		background-size: 100%;
	}
	
	div.row div {
	  color: #fff;
	  background-color: rgba(0,0,0,0.7);
	  margin-top: 1em;
  }

  a {
    color: #ccc;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  p {
    margin-bottom: 0.5em;
  }
  
  p, h1, h2{
    padding-left: 8px;
    padding-right: 8px;
  }

  
  h1, h2 {
    padding-top: 4px;
  }
  
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		background: none;
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}